@charset "ISO-8859-1";
#cart table{
    margin: 40px;
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    background-color: aquamarine;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(3){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(1){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6),
#cart table td:nth-child(7){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(4) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid rgb(116, 108, 108);
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
.subtotal{
    width: 50%;
    margin-bottom: 30px;
    margin-left: 40px;
    border: 1px solid rgb(224, 203, 94);
    padding: 30px;
}
.subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.subtotal table td{
    width: 50%;
    border: 1px solid rgb(223, 115, 115);
    padding: 10px;
    font-size: 14px;
}
.subtotal button{
    background-color: #088178;
    color: #f7efef;
    padding: 12px 20px;
}
.delett{
    width: 50px;
    height: 50px;
}
    .delett{
    font-size: 25px;
}

.normal{
    width: 117px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;  
}