@charset "ISO-8859-1";
@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../image/grocery-image.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.frame-login{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}
.frame-login h1{
    font-size: 36px;
    text-align: center;
}
.frame-login .input-frame-login{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-frame-login input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-frame-login input::placeholder{
    color: #fff;
}
.input-frame-login i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
} 
.frame-login .btn-login{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.frame-login .create-account-login{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.create-account-login p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.create-account-login p a:hover{
    text-decoration: underline;
}
