<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
            <servlet>
               <servlet-name>category</servlet-name>
               <servlet-class>online_grocery.CatergaryServlet</servlet-class>
            </servlet>
            <servlet-mapping>
               <servlet-name>category</servlet-name>
               <url-pattern>/categories</url-pattern>
            </servlet-mapping>
            <servlet>
               <servlet-name>delete</servlet-name>
               <servlet-class>online_grocery.DeleteServlet</servlet-class>
            </servlet>

            <servlet-mapping>
                <servlet-name>delete</servlet-name>
                <url-pattern>/deleteItems</url-pattern>
           </servlet-mapping>
  
           <servlet>
              <servlet-name>cart</servlet-name>
              <servlet-class>servlet.RetrieveCartServlet</servlet-class>
           </servlet>

          <servlet-mapping>
             <servlet-name>cart</servlet-name>
             <url-pattern>/cart</url-pattern>
          </servlet-mapping>     
        <servlet>
          <servlet-name>home</servlet-name>
          <servlet-class>servlet.HomePageServlet</servlet-class>
       </servlet>

       <servlet-mapping>
          <servlet-name>home</servlet-name>
          <url-pattern>/homes</url-pattern>
       </servlet-mapping>
       <servlet>
                <servlet-name>login</servlet-name>
                <servlet-class>com.admin.AdminServlet</servlet-class>
                
                
       </servlet>
       <servlet-mapping>
               <servlet-name>login</servlet-name>
               <url-pattern>/log</url-pattern>
               
       </servlet-mapping>
       
       

       
        <servlet>
                <servlet-name>ItemList</servlet-name>
                <servlet-class>servlet.AdminRetrievePServlet</servlet-class>
       </servlet>
       <servlet-mapping>
               <servlet-name>ItemList</servlet-name>
               <url-pattern>/item</url-pattern>
       </servlet-mapping>
       
       <servlet>
                <servlet-name>UpdateItem</servlet-name>
                <servlet-class>com.admin.UpdateItemServlet</servlet-class>
       </servlet>
       <servlet-mapping>
               <servlet-name>UpdateItem</servlet-name>
               <url-pattern>/update</url-pattern>
               
       </servlet-mapping>
       
       
       <servlet>
                <servlet-name>DeleteItem</servlet-name>
                <servlet-class>com.admin.DeleteItemServlet</servlet-class>
       </servlet>
       <servlet-mapping>
               <servlet-name>DeleteItem</servlet-name>
               <url-pattern>/delete</url-pattern>
               
       </servlet-mapping>


</web-app>